latimes*
datacache*
data_cache*
savemmap
testsavemmap
PLByDocID
PLByScore
partialPLs/0
partialPLs/1
partialPLs/2
partialPLs/3
partialPLs/4
partialPLs/5
partialPLs/6
partialPLs/7
partialPLs/8
partialPLs/9
